<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>Beranda</ion-title>
    <ion-label slot="end" *ngIf="isLogin">{{username}}</ion-label>
    <ion-button (click)="logout()" slot="end" fill="clear" *ngIf="isLogin">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-container">
    <div class="menu-item" (click)="gotoAbsensi()">
      <ion-icon name="finger-print"></ion-icon>
      <p>Presensi PD</p>
    </div>
    <div class="menu-item" (click)="gotoRekapAbsensi()">
      <ion-icon name="checkbox"></ion-icon>
      <p>Rekap Presensi</p>
    </div>
    <div class="menu-item" (click)="gotoPresensiPTK()">
      <ion-icon name="finger-print"></ion-icon>
      <p>Presensi PTK</p>
    </div>
    <div class="menu-item">
      <a
        href="https://learn.smkn1kalibawangwsb.sch.id"
        target="_self"
        rel="noopener noreferrer"
      >
        <ion-icon name="earth"></ion-icon>
        <p>LMS</p>
      </a>
    </div>
    <div class="menu-item">
      <ion-icon name="person"></ion-icon>
      <p>Alumni</p>
    </div>
    <div class="menu-item" (click)="gotoPrakerin()">
      <ion-icon name="business"></ion-icon>
      <p>Praktik Industri</p>
    </div>
    <div class="menu-item">
      <ion-icon name="print"></ion-icon>
      <p>Aset Sekolah</p>
    </div>
    <div class="menu-item">
      <ion-icon name="person-add"></ion-icon>
      <p>Akademik PD</p>
    </div>
    <div class="menu-item">
      <ion-icon name="wallet"></ion-icon>
      <p>Keuangan</p>
    </div>
    <div class="menu-item">
      <ion-icon name="body"></ion-icon>
      <p>Pembinaan Siswa</p>
    </div>
    <div class="menu-item">
      <ion-icon name="calendar"></ion-icon>
      <p>Jurnal Harian</p>
    </div>
    <div class="menu-item">
      <ion-icon name="newspaper"></ion-icon>
      <p>SKP</p>
    </div>
    <div class="menu-item">
      <ion-icon name="medal"></ion-icon>
      <p>Prestasi</p>
    </div>
    <div class="menu-item">
      <ion-icon name="reader"></ion-icon>
      <p>Karya Ilmiah</p>
    </div>
    <div class="menu-item">
      <ion-icon name="thumbs-up"></ion-icon>
      <p>Karya P5</p>
    </div>
    <div class="menu-item" (click)="gotoCloud()">
      <ion-icon name="save"></ion-icon>
      <p>Penyimpanan Cloud</p>
    </div>
    <div class="menu-item">
      <a href="{{home}}simeka/">
      <ion-icon name="cog"></ion-icon>
      <p>Admin</p></a>
    </div>
    <!-- <div class="menu-item" (click)="logout()" *ngIf="isLogin">
      <ion-icon name="exit"></ion-icon>
      <p>Logout</p>
    </div> -->
  </div>
</ion-content>
