<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/prakerin/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Rekap Presensi PKL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rekap Presensi PKL</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
      <ion-card-title>Filter</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-select placeholder="Pilih Kelas" [(ngModel)]="selectedKelas" (ionChange)="loadSiswa()" label="Kelas">
          <ion-select-option *ngFor="let kelas of kelass" [value]="kelas.id">{{kelas.kelas}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle> -->
      <ion-card-title>Data Peserta Didik</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-searchbar placeholder="Nama siswa" (ionInput)="filterNama()" [(ngModel)]="query"></ion-searchbar>
      <ion-buttons slot="start">
        <ion-button type="button" (click)="exportToExcel()" fill="outline">
          <ion-icon slot="start" name="save-outline"></ion-icon>Excel</ion-button>
        <ion-button type="button" (click)="exportToPDF()" fill="outline">
          <ion-icon slot="start" name="reader-outline"></ion-icon> PDF</ion-button>
      </ion-buttons>
      <ion-text color="primary">
        <i>**klik pada nama siswa untuk melihat detail</i>
      </ion-text>
      <div id="table-data">
        <h2>Rekapitulasi Presensi Online</h2>
        <h2>Praktik Kerja Lapangan (PKL)</h2>
        <h2>SMK Negeri 1 Kalibawang</h2>
        <!-- fix below line -->
        <h3 id="nama-kelas">Kelas: {{(filteredSiswa.length>0)?filteredSiswa[0]?.kelas:""}}</h3> 
        <table border="1" id="main-table">
          <thead>
            <tr>
              <th rowspan="2">No</th>
              <th rowspan="2">Nama</th>
              <th colspan="6">Presensi Bulan</th>
            </tr>
            <tr>
              <th>7</th>
              <th>8</th>
              <th>9</th>
              <th>10</th>
              <th>11</th>
              <th>12</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let siswa of filteredSiswa; let i=index">
              <td class="ctr">{{i+1}}</td>
              <td class="nama" (click)="gotoDetail(siswa.id,siswa.NAME)">{{siswa.NAME}}</td>
              <td class="ctr">{{siswa.jml_bulan7}}</td>
              <td class="ctr">{{siswa.jml_bulan8}}</td>
              <td class="ctr">{{siswa.jml_bulan9}}</td>
              <td class="ctr">{{siswa.jml_bulan10}}</td>
              <td class="ctr">{{siswa.jml_bulan11}}</td>
              <td class="ctr">{{siswa.jml_bulan12}}</td>
            </tr>
            <tr *ngIf="filteredSiswa.length<1">
              <td colspan="8" align="center">Silahkan pilih kelas terlebih dahulu.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>